@import '~@csstools/normalize.css';

* {
    box-sizing: border-box;
}

div {
    /* overflow: hidden; */
}

body {
    user-select: none;
    touch-action: manipulation;
    position: fixed;
    overflow: hidden;
    @media only screen and (min-width: 1024px) and (orientation: landscape) {
        position: relative;
        overflow: auto;
        height: 100vh;
    }
}